@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .transition-easy {
    @apply transition-all ease-in-out duration-300;
  }
}

/* 覆盖默认样式 */

html {
  user-select: none;
  background-color: theme('colors.paper');
}

*:focus {
  -webkit-tap-highlight-color: transparent;
}

* {
  border-color: transparent;
}

#__next {
  position: relative;
}

/* 覆盖第三方组件 */

#nprogress .bar {
  background-color: theme("colors.black");
}

#nprogress .peg {
  box-shadow: 0 0 10px theme("colors.black"), 0 0 5px theme("colors.black");
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 999;
}

.medium-zoom-overlay {
  @apply backdrop-filter backdrop-blur;
  background-color: transparent !important;
}
